body {
    margin: 0;
    font-family: 'Sulphur Point', sans-serif;
}

nav {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #00ABFF;
}

nav img {
    
    padding-top: .6em;
    margin: 0;
}



header {
    margin-top: 0;

}

header h2 {
    text-align: center;
}

header button {
    margin-top: .5em;
    margin-left: .5em;
    border: none;
    border-radius: 10em;
    height: 1.5em;
    width: 1.5em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

form {
    text-align: center;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    height: 3em;
    border-radius: 10em;
    border: none;
    width: 60vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    text-align: center;
    margin-bottom: 2.5em;
}

input[type='submit'] {
    height: 3em;
    border-radius: 10em;
    border: none;
    width: 60vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    background-color: #00ABFF;
    color: white;
}
aside{
    display: none;
}